html {
    font-family: sans-serif;
}

#overallScore #score_circle {
    fill: #999;
}

#overallScore #score_circle_shadow {
    fill: #777;
}

#overallScore.good #score_circle {
    fill: #9fda4f;
}

#overallScore.good #score_circle_shadow {
    fill: #77b227;
}

#overallScore.ok #score_circle {
    fill: #ffdc42;
}

#overallScore.ok #score_circle_shadow {
    fill: #ffc82e;
}

#overallScore.poor #score_circle {
    fill: #ffb81e;
}

#overallScore.poor #score_circle_shadow {
    fill: #f49a00;
}

#overallScore.bad #score_circle {
    fill: #ff4e47;
}

#overallScore.bad #score_circle_shadow {
    fill: #ed261f;
}

.inputForm label {
    width: 250px;
    float: left;
    color: #777;
    line-height: 20px;
    text-transform: capitalize;
}


.inputForm input {
    width: 300px;
    line-height: 20px;
    margin: 5px 0;
    float: left;
}

.inputForm textArea {
    width: 100%;
    height: 400px;
    margin: 5px 0;
    float: left;
}

li .score{
    list-style-type: none;
}

.wpseoanalysis td {
    vertical-align: middle;
}
.wpseo-score-text {
    display: inline-block;
    width: 90%;
}
.wpseo-score-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 3px 10px 0 3px;
    border-radius: 50%;
    background: #888;
    vertical-align: top;
}



.wpseo-score-icon.good {
    background-color: #7ad03a;
}

.wpseo-score-icon.ok {
    background-color: #ffba00;
}

.wpseo-score-icon.poor {
    background-color: #ee7c1b;
}

.wpseo-score-icon.bad {
    background-color: #dd3d36;
}

.wpseo-score-icon.na {
    background-color: #999;
}

.wpseo-score-icon.noindex {
    background-color: #1e8cbe;
}

.wpseo_msg {
    margin: 5px 0 10px 0;
    padding: 0 5px;
    border: 1px solid #e6db55;
    background-color: #FFFFE0;
}

#snippet_preview {
    border: 1px solid #ddd;
    padding: 20px;
    width: 512px;
    font-family: Arial, sans-serif;
}

.title {
    color: #1e0fbe;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    width: 512px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
}

.title:visited {
    color: #609
}

.url, .desc {
    font-size: 13px;
    line-height: 1.4;
    display: block;

}

.url {
    font-size: 14px;
    line-height: 16px;
    color: #006621;
    font-style: normal;
}

.urlBase{
    float: left;
}

.desc {
    color: #545454;
}

input, textarea {
    width: 540px;
    padding: 5px;
    margin: 5px 5px 5px 0;
    font-size: 14px;
    display: block
}

textarea {
    height: 60px
}

label {
    display: block;
    width: 200px;
    font-size: 14px;
    padding-top: 10px;
    font-weight: bold;
    vertical-align: text-bottom
}

#snippet_preview{
    border: 1px solid #ddd;
    padding: 20px;
    width:512px;
    font-family: Arial, sans-serif;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}